{% extends "accounts/base.html" %}
{% block title %}Choose a new password{% endblock %}
{% block content %}
{% if validlink %}
<h1>Choose a new password</h1>
<form method="post" novalidate>
  {% csrf_token %}
  {% include "accounts/_fields.html" with show_help=True %}
  <button class="btn" type="submit">Save password</button>
</form>
{% else %}
<h1>This link has expired</h1>
<p class="lead">Reset links work once and expire after a few days. Request a new one.</p>
<p class="alt"><a href="{% url 'password_reset' %}">Send a new link</a></p>
{% endif %}
{% endblock %}
