{% extends "accounts/base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="topnav"><a href="{% url 'account' %}">← Your account</a></div>
<h1>Change password</h1>
<p class="lead">You'll stay signed in here. Other devices will be signed out.</p>
<form method="post" novalidate>
  {% csrf_token %}
  {% include "accounts/_fields.html" with show_help=True %}
  <button class="btn" type="submit">Change password</button>
</form>
<p class="alt"><a href="{% url 'password_reset' %}">Forgot your current password?</a></p>
{% endblock %}
